@using view_model.Common;
@using view_model.Catalog.Products;
@model ApiResult<PagedResult<ProductVm>>
@{ 
    var count = 1;
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Products</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">List</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">List Products</h3>
                <div class="card-tools">
                    <a class="btn btn-success" asp-action="Create" asp-controller="Product">Create New</a>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ResultObj.Items)
                        {
                            <tr>
                                <td>@count</td>
                                <td>@item.Name</td>
                                <td>@item.Price</td>
                            </tr>
                            count++;
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            @await Component.InvokeAsync("Pager", Model.ResultObj)
        </div>

    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->